.content-wrapper {
    height: 80vh;
    position: relative
}

form {
   position: absolute;               /* 2 */
   top: 50%;     
   left: 50%;                    /* 3 */
   transform: translate(-50%, -50%)    /* 4 */
}

form p, h1 {
    text-align: center;
}
